name: api-docs

on:
  push:
    branches: "master"
    types: [closed]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev
      - name: Testing
        run: |
          pipenv run build-docs
          git config --local user.email "jubelcassioverridasilva@github.com"
          git config --local user.name "JubelCassio"
          if [[ `git status --porcelain` ]]; then git commit -am "Formatting Code" && git push; fi;
