name: api-docs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev
      - name: Build Wheel
        run: |
          pipenv run build
          git config --local user.email "jubelcassioverridasilva@gmail.com"
          git config --local user.name "JubelCassio"
          if [[ `git status --porcelain` ]]; then git add dist/ && git commit -m "Building version" && git push; fi;
