name: testing

on:
  push:
    branches: "*"

  pull_request:
    branches: "master"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }} # Getting name of branch on pull_request
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev
      - name: Formatting
        run: |
          pipenv run format
          git config --local user.email "jubelcassioverridasilva@gmail.com"
          git config --local user.name "JubelCassio"
          if [[ `git status --porcelain` ]]; then git commit -am "Formatting Code" && git push; fi;
      - name: Testing
        run: pipenv run test
      - name: Coverage
        run: pipenv run python -m pytest --cache-clear --cov=. test
